*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body,
button,
input {
  font: 20px "Libre Franklin", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
